{% extends 'base.html' %}

{% block title %} Detail Echo {% endblock%}

{% block content %} 
  <article>
    <p>{{ echo.content }}</p>
    <p>{{ echo.user }} <a href="{% url 'users:user-detail' echo.user.username %}">Profile</a></p>
    <p>{{ echo.created_at|timesince }}</p>
    <a href="{% url 'echos:add-wave' echo.id%}">Add wave</a>
    {% if echo.user == request.user %}
      <a href="{% url 'echos:delete-echo' echo.id%}">Delete echo</a>
      <a href="{% url 'echos:edit-echo' echo.id%}">Edit echo</a>
    {% endif %}
    <ol>
      {% for wave in waves %}
      <li>
        <article>
          <p>{{ wave.content }}</p>
          <p>{{ wave.user }} <a href="{% url 'users:user-detail' wave.user.username %}">Profile</a></p>
          <p>{{ wave.created_at|timesince }}</p>
          {% if wave.user == request.user %}
            <a href="{% url 'waves:delete-wave' wave.id %}">Delete wave</a>
            <a href="{% url 'waves:edit-wave' wave.id %}">Edit wave</a>     
          {% endif %}
        </article>
      </li>
        {% empty %}
          <p>No waves yet</p>
      {% endfor %}
    </ol>
    {% if show_more %}
      <a href="{% url 'echos:echo-waves' echo.id %}">View all waves</a>
    {% endif %}
  </article>
{% endblock %}