{% extends 'base.html' %}

{% block title %} Echos {% endblock%}

{% block content %} 
  <p>Tribu has posted {{ n_echos }} echo{{ n_echos|pluralize }} so far!</p>
  <a href="{% url 'echos:add-echo' %}">Add Echo</a>
  <ol>
    {% for echo in echos %}
    <li>
      <article>
        <p>{{ echo.content|truncatewords:20 }}</p>
        <p>{{ echo.user }}</p>
        <a href="{% url 'echos:echo-detail' echo.id %}">Detail Echo</a>
        <p>{{ echo.created_at|timesince }}</p>
      </article>
    </li>
      {% empty %}
        <p>No echos yet</p>
    {% endfor %}
  </ol>
{% endblock %}