{% extends 'base.html' %}

{% block title %} Echos {% endblock%}

{% block content %}
  {% if n_echos%}
    <p>Tribu has posted {{ n_echos }} echo{{ n_echos|pluralize }} so far!</p>
  {% endif %}
  <a href="{% url 'echos:add-echo' %}">Add echo</a>
  <ol>
    {% for echo in echos %}
    <li>
      <article>
        <p>{{ echo.content|truncatewords:20 }}</p>
        <p>{{ echo.user }} <a href="{% url 'users:user-detail' echo.user.username %}">Profile</a></p>
        <a href="{% url 'echos:echo-detail' echo.id %}">Detail Echo</a>
        <p>{{ echo.created_at|timesince }}</p>
      </article>
    </li>
      {% empty %}
        <p>No echos yet</p>
    {% endfor %}
  </ol>
{% endblock %}