.profile-info {
  display: flex;
  gap: 1.5rem;
  padding: 2rem;
  border-radius: 12px;
  border: 1px solid beige;
  color: beige;

  li:first-child {
    font-size: 1.5rem;
  }

  .image-profile {
    width: 15rem;
    height: auto;
    border-radius: 12px;
    object-fit: cover;
  }

  .text-user-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.add-wave {
  display: inline-block;
  text-align: start;
  font-size: 2rem;
  font-weight: 500;
  padding: 0.5rem;
  border: 1px solid beige;
  border-radius: 1rem;
  margin-block: 4rem;

  &:hover {
    background-color: #464645;
  }
}

.waves-echo {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-block: 5rem;
}

.user-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 2.5rem;

  .user-info {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    border: 1px solid #464645;
    border-radius: 12px;
    padding: 2rem;
  }
}
