* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
}

html {
  font-size: 62.5%;
  font-size: 1.6rem;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  text-align: center;
}

article {
  color: #fff;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  margin-bottom: 1.5rem;
  width: 30vw;
  padding: 1rem;
  border-radius: 0.5rem;
  gap: 1rem;
  background-color: rgb(82, 82, 255);
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.tasks-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.option {
  max-width: 3rem;
}

.option:hover {
  scale: 1.5;
  transition-duration: 0.3s;
}

.menu {
  margin: 1rem 0;
  padding: 0.8rem;
  border: 1px solid #000;
  background-color: #ebebeb;
}

header {
  background-color: rgb(82, 82, 255);
  color: #fff;
  border-bottom: 1px solid #000;
}

header > h2 {
  font-size: 1rem;
  font-style: normal;
}

.menu a {
  color: #3d3b3b;
}

.menu a:hover {
  color: #491d9c;
}

.check {
  margin-left: 0.25rem;
}

h1 a {
  color: #fff;
}
