.container {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100vh;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
  border: 1px solid #464645;
  border-radius: 12px;
  padding: 2rem;

  input {
    border: 2px solid rgb(51, 51, 51);
    border-radius: 8px;
  }

  .auth-submit {
    margin-top: 2rem;
    padding: 1rem;
  }
}
